
.subtitle {
    font-size: 12px;
    margin-bottom: 5px;
}

.answer {
    font-size: 20px;
    margin-top: 0px;
    font-style: bold 500;
}

.mat-dialog-title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 5px;
}

.country-title {
    margin-top: 0px;
    font-weight: normal;
    font-size: 22;
}